
<ul class="flist">
	<li>
		<span class="flist-fname">fname</span>
		<span class="flist-size">size</span>
		<span class="flist-ctime">ctime</span>
		<span class="flist-mtime">mtime</span>
	</li>

	<li ng-repeat="file in files">
		<span class="flist-fname">{{ file.fname }}</span>
		<span class="flist-size">{{ file.size | bsize }}</span>
		<span class="flist-ctime">{{ file.ctime | date:'MM/dd/yyyy @ HH:mm:ss' }}</span>
		<span class="flist-mtime">{{ file.mtime | date:'MM/dd/yyyy @ HH:mm:ss' }}</span>
	</li>
</ul>
