
html, body {
	padding: 0;
	margin: 0;
}
body {
	background: #444;
	padding: 15px;
}

* {
	box-sizing: border-box;
}



.flist {
	background: #6FD0C5;
	width: 100%;
	float: left;
	padding: 0;
	margin: 0;
	border-radius: 5px;
}

.flist li {
	float: left;
	width: 100%;
	list-style: none;
}
.flist li:first-child {
	font-weight: bold;
}

.flist li span {
	width: 50%;
	float: left;
	padding: 3px;
	text-align: center;
}
.flist li span:nth-child(1),
.flist li span:nth-child(2) {
	padding-top: 20px;
}
.flist li span:nth-last-child(1),
.flist li span:nth-last-child(2) {
	padding-bottom: 20px;
}
.flist li span:nth-child(even) {
	border-left: 1px solid rgba(0, 0, 0, 0.35);
}
.flist li:not(:first-child):hover span {
	background: rgba(255, 255, 255, 0.25);
}
.flist-fname {
	color: #CB4E30;
}


@media (min-width: 728px) {
	.flist li span {
		width: 25%;
		padding: 5px;
	}
	.flist li span:nth-child(1),
	.flist li span:nth-child(2),
	.flist li span:nth-child(3),
	.flist li span:nth-child(4) {
		padding-bottom: 5px;
		padding-top: 5px;
	}
	.flist li span:nth-child(odd):not(:first-child) {
		border-left: 1px solid rgba(0, 0, 0, 0.35);
	}
	.flist-fname {
		color: inherit;
	}
}
